<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="homepage">
    <header class="navbar">
      <div class="logo">InternConnect</div>
      
      <div class="menu-icon" id="menu-icon" onclick="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <nav>
        <a href="#">Home</a>
        <a href="/search">Internships</a>
        <a href="#">Companies</a>
        <a href="#">About</a>
        <a href="login" class="btn" >Login</a>
        <a href="adminlogin" class="btn" >admin</a>
      </nav>
    </header>
  
    <section class="hero">
      <div class="hero-content">
        <h1>Find the Perfect Internship for You</h1>
        <p>Explore thousands of internship opportunities and kickstart your career today!</p>
  
        <div class="search-bar">
          <input type="text" placeholder="Search internships by title, company, or location..." />
          <button>Search</button>
        </div>
      </div>
    </section>
  

    <section class="featured">
      <h2>Featured Internships</h2>
      <div class="internship-grid">
        <div class="card">
          <h3>Frontend Developer Intern</h3>
          <p>Google - Remote</p>
          <button>View Details</button>
        </div>
        <div class="card">
          <h3>Data Analyst Intern</h3>
          <p>Microsoft - Tunis</p>
          <button>View Details</button>
        </div>
        <div class="card">
          <h3>AI Research Intern</h3>
          <p>DeepMind - Paris</p>
          <button>View Details</button>
        </div>
      </div>
    </section>
  
 
    <section class="companies">
      <h2>Trusted by Leading Companies</h2>
      <div class="company-logos">
        <img src="assets/logos/google.png" alt="Google" />
        <img src="assets/logos/microsoft.png" alt="Microsoft" />
        <img src="assets/logos/ibm.png" alt="IBM" />
        <img src="assets/logos/amazon.png" alt="Amazon" />
      </div>
    </section>
  
   
    <footer>
      <p>© 2025 InternConnect. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
